@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @{
        for (int i = 0; i < ViewBag.Contents.Count; i++)
        {
            var content = ViewBag.Contents[i];
            if (i % 3 == 0)
            {
                <div class="col-md-4 clearfix">
                    <h2>@content.Title</h2>
                    <p>
                        @content.Description
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
            }
            else
            {
                <div class="col-md-4 ">
                    <h2>@content.Title</h2>
                    <p>
                        @content.Description
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
            }
        }
    }
    
</div>